@model IEnumerable<Dal.Paquete>
@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<div class="container">
    <div class="row">

        <div class="panel panel-warning">
            <div class="panel-heading text-center"><h1>GESTION DE PAQUETES</h1></div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <th><h4>ID</h4></th>
                        <th><h4>DESTINO</h4></th>
                        <th><h4>FECHA DE INICIO</h4></th>
                        <th><h4>FECHA DE FINALIZACION</h4></th>
                        <th><h4>DESTACADO</h4></th>
                        <th><h4>PRECIO </h4></th>
                        <th><h4>ACCIONES </h4></th>
                    </tr>

                   @foreach (var p in Model)
                   {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelP => p.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelP => p.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelP => p.FechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelP => p.FechaFin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelP => p.Destacado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelP => p.PrecioPorPersona)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", "Paquetes", new { id = p.Id }, null) |
                            @Html.ActionLink("Eliminar", "Eliminar", new { id = p.Id }, new { @class = "aElimina" })
                        </td>
                    </tr>
                   }

                    <tr>
                        <a href="/Paquetes/Nuevo" class="btn btn-warning boton2 "> CREAR NUEVO PAQUETE </a>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
