<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>@Page.Title</title>
        @Styles.Render("~/bundles/styles")
    </head>
    
    <body>
        @if (Session["IdUsuario"] != null && Convert.ToBoolean(Session["EsAdmin"]) == true)
        {
            @Html.Partial("_pvMenuAdministrator")
        }

        @if (Session["IdUsuario"] != null && Convert.ToBoolean(Session["EsAdmin"]) == false)
        {
            @Html.Partial("_pvMenuUser")
        }

        @if (Session["IdUsuario"] == null) // @TODO: Ésta línea tira un error, supongo que es un conflicto de tipos de datos.
        {
            @Html.Partial("_pvMenuAnonymous")
        }

        @RenderBody()
        @Scripts.Render("~/bundles/scripts")
    </body>
</html>
