<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @Styles.Render("~/Bundles/styles")
    </head>
    
    <body>
        @if (Session["IdUsuario"] != null && Convert.ToBoolean(Session["EsAdmin"]) == true)
        {
            @Html.Partial("_pvMenuAdministrator")
        }

        @if (Session["IdUsuario"] != null && Convert.ToBoolean(Session["EsAdmin"]) == false)
        {
            @Html.Partial("_pvMenuUser")
        }

        @if (Session["IdUsuario"] == null)
        {
            @Html.Partial("_pvMenuAnonymous")
        }

        @RenderBody()
        @Scripts.Render("~/Bundles/scripts")
    </body>
</html>
