@model Presentación.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 sub-contenedor">
        <div class="row">
            <div class="col-md-4 "></div>
            <div class="col-md-4 ">
                <div class="fondo-transparente">
                </div>
                <div class="contenedor-formu">
                    <h2>Iniciar Sesi&oacute;n</h2>
                    @using (Html.BeginForm("Login", "Home"))
                    {
                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @placeholder = "e-mail", @name = "Email", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(Model => Model.Email)
                        <br />
                        @Html.TextBoxFor(Model => Model.Contrasenia, new { @class = "form-control", @placeholder = "Contraseña", @name = "Contrasenia" })
                        @Html.ValidationMessageFor(Model => Model.Contrasenia)
                        <br />
                        <p class = "bg-primary">@ViewBag.ErrorMessage</p>
                        <br />
                        <button type="submit" id="btnIngresar" name="btnIngresar" class="btn btn-success">ingresar</button>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4 "></div>
    </div>
</div>