@model Dal.Paquete

@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 sub-contenedor">
        <div class="row">
            <div class="col-md-4 "></div>
            <div class="col-md-4 ">
                <div class="fondo-transparente">
                </div>
                <div class="contenedor-formu">
                    <h2>Nuevo paquete</h2>
                    @using (Html.BeginForm("Nuevo", "Paquetes"))
                    {
                        <p>Nombre</p>
                        <br />
                        @Html.TextBoxFor(p => p.Nombre);
                        <br />
                        <p>Descripción</p>
                        <br />
                        @Html.TextBoxFor(p => p.Descripcion);
                        <br />
                        <p>Foto</p>
                        <br />
                        @Html.TextBoxFor(p => p.Foto, new { type = "file"});
                        <br />
                        <p>Fecha de inicio</p>
                        <br />
                        @Html.TextBoxFor(p => p.FechaInicio, new { type = "date" });
                        <br />
                        <p>Fecha de fin</p>
                        <br />
                        @Html.TextBoxFor(p => p.FechaFin, new { type = "date" });
                        <br />
                        <p>Lugares disponibles</p>
                        <br />
                        @Html.TextBoxFor(p => p.LugaresDisponibles);
                        <br />
                        <p>Precio por persona</p>
                        <br />
                        @Html.TextBoxFor(p => p.PrecioPorPersona);
                        <br />
                        <p>Destacado</p>
                        <br />
                        @Html.CheckBoxFor(p => p.Destacado);
                        <br />
                        <p>Destacado</p>
                        <br />
                        @Html.CheckBoxFor(p => p.Destacado);
                        <br />
                        <button type="submit" id="btnIngresar" name="btnIngresar" class="btn btn-success">Crear</button>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4 "></div>
    </div>
</div>