@model IEnumerable<Modelo.ViewModels.HistorialReservasViewModel>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h1>Historial de paquetes reservados</h1></div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <th><h4>Nombre</h4></th>
                        <th><h4>Fecha de inicio</h4></th>
                        <th><h4>Fecha de fin</h4></th>
                        <th><h4>Cantidad de personas</h4></th>
                        <th><h4>Precio por persona</h4></th>
                        <th><h4>Precio total</h4></th>
                        <th><h4></h4></th>
                    </tr>
                    @foreach (var reserva in Model)
                    {
                        <tr id="tr_@reserva.IdReserva">
                            <td>@reserva.Nombre</td>
                            <td>@reserva.FechaInicio</td>
                            <td>@reserva.FechaFin</td>
                            <td>@reserva.CantidadDePersonas</td>
                            <td>@reserva.PrecioPorPersona</td>
                            <td>@reserva.PrecioTotal</td>
                            @if (reserva.FechaInicio <= DateTime.Now)
                            {
                                <td>
                                    <p class="error-msj">La reserva caduc&oacute;.</p>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <button class="btn btn-danger" onclick="deleteReserva(@reserva.IdReserva)" name="Cancelar reserva">Cancelar reserva</button>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
